body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

.board-outer {
    width: 700px;
    border: 5px solid black;
    background-color: blue;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.board-inner {
    width: 630px;
    height: 540px;
    display: grid;
    grid-template-columns: repeat(7, auto [col-start]);
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.board-inner .field {
    border: 3px solid black;
    border-radius: 100%;
    margin: 10px;
}

.restart {
    width: 100px;
    height: 60px;
    font-size: xx-large;
    border: 3px solid black;
    background-color: white;
    margin-bottom: 30px;

}

.restart:hover {
    cursor: pointer;
    background-color: lightgray;
}

.gamemode-div {

    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 202px;
    border: 5px solid black;

    background-color: blue;

}

.gamemode-div .gamemode-button {
    margin-top: 34px;
    border: 3px solid black;
    width: 50%;
    height: 50px;
    font-size: larger;

}

.gamemode-div .gamemode-button:hover {
    cursor: pointer;
    background-color: lightgray;
}

.message {
    font-size: larger;
}